<div id="spree-footer">
	<div class="container">
		<footer id="footer" class="row" data-hook>
		  <div id="footer-left" class="col-md-6" data-hook>
		    <p>Copyright © 2014 Wai Shing Asian Trading Livs AB . All Rights Reserved</p>
		  </div>
		  <div id="footer-right" class="col-md-6 text-right" data-hook>
		    <p>Powered by <a href="http://www.minus1.se" target="_blank">@Minus1Soft</a></p>
		  </div>
		</footer>
	</div>
</div>