<div id="spree-header">
	
	<header id="header" data-hook>
		<div class="container">
	  		<figure id="logo" class="text-center" data-hook><a href="/"><img alt="Spree" src="/assets/store/wai_shing_logo.jpg"></a></figure>
 <!--	  		<h1 class="text-center">Wai Shing Asian Trading Livs AB</h1>
	  		<h3 class= "text-center">The Authentic Asian Food Supplier</h3> -->
		</div>
	</header>
	<div class="container">
		<%= render :partial => 'spree/shared/main_nav_bar' %>
	</div>

</div>