<div class="container">
  <div class="row">
    <div class="col-md-5">
      <address>
      <h2>Contact Us / Kontakta Oss</h2>
      <br>
      <h4><abbr title="Email">Email:</abbr> <a href="mailto:davidchiu@waishingasiantrading.com">davidchiu@waishingasiantrading.com</a></h4>
      <br>
      <h4><abbr title="Phone">Phone:</abbr> +46 (0) 8-390311 / +46 (0) 72-3272399</h4>
      </address>
      <br>
      <p><iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Skytteholmsv%C3%A4gen+22,+Solna,+Sweden&amp;aq=0&amp;oq=skytte&amp;sll=59.326142,17.982052&amp;sspn=0.260266,0.492325&amp;ie=UTF8&amp;hq=&amp;hnear=Skytteholmsv%C3%A4gen+22,+171+44+Solna,+Stockholms+l%C3%A4n,+Sweden&amp;t=m&amp;ll=59.357937,17.999854&amp;spn=0.012686,0.025964&amp;z=15&amp;iwloc=A&amp;output=embed" height="480" width="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></p>
    </div>
    <div class="col-md-7"> 
      <br>
      <br>
      <br>
      <div id="wufoo-mcovkic0vn7a4b"></div>
      <script type="text/javascript">var mcovkic0vn7a4b;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'minus1', 
      'formHash':'mcovkic0vn7a4b', 
      'autoResize':true,
      'height':'557',
      'async':true,
      'host':'wufoo.com',
      'header':'show', 
      'ssl':true};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { mcovkic0vn7a4b = new WufooForm();mcovkic0vn7a4b.initialize(options);mcovkic0vn7a4b.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');</script>
    </div>
  </div>
</div>